.changeButton {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: rgb(252, 250, 252);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 254);
}

.changeButton img {
    max-width: 100px;
    max-height: 100px;
}