.hiddenPart {
    display: none;
}

.eyes1 {
    position: absolute;
    z-index: 10;
    width: 164px;
    left: 680px;
    top: 513px;
}

.eyes2 {
    position: absolute;
    z-index: 10;
    width: 135px;
    left: 700px;
    top: 525px;
}

.eyes3 {
    position: absolute;
    z-index: 10;
    width: 181px;
    left: 678px;
    top: 520px;
}

.mouth1 {
    position: absolute;
    z-index: 10;
    width: 114px;
    left: 708px;
    top: 652px;
}

.mouth2 {
    position: absolute;
    z-index: 10;
    width: 110px;
    left: 710px;
    top: 652px;
}
.mouth3 {
    position: absolute;
    z-index: 10;
    width: 114px;
    left: 710px;
    top: 675px;
}

.nose1 {
    position: absolute;
    z-index: 10;
    width: 45px;
    left: 745px;
    top: 600px;
}

.nose2 {
    position: absolute;
    z-index: 10;
    width: 92px;
    left: 725px;
    top: 598px;
}

.nose3 {
    position: absolute;
    z-index: 10;
    width: 90px;
    left: 725px;
    top: 585px;
}